## Julia
*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
/deps/*
!/deps/build.jl
!/deps/SnoopCompile
*.weights
Manifest.toml
*.so

## Docs
docs/build/

## Example run outputs
LocalPreferences.toml
/examples/*/runs/
/examples/*/imagenette2-*
