name = "ObjectDetector"
uuid = "3dfc1049-5314-49cf-8447-288dfd02f9fb"
authors = ["Robert Luciani"]
version = "0.1.10"

[deps]
BenchmarkTools = "6e4b80f9-dd63-53aa-95a3-0cdb28fa8baf"
Flux = "587475ba-b771-5e3f-ad9e-33799f191a9c"
ImageCore = "a09fc81d-aa75-5fe9-8630-4744c3626534"
ImageDraw = "4381153b-2b60-58ae-a1ba-fd683676385f"
ImageFiltering = "6a3955dd-da59-5b1f-98d4-e7296123deb5"
ImageTransformations = "02fcd773-0e25-5acc-982a-7f6622650795"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
PrettyTables = "08abe8d2-0d0c-5749-adfa-8a2ac140af0d"

[compat]
BenchmarkTools = "0.4, 0.5"
Flux = "0.11"
ImageCore = "0.8"
ImageDraw = "0.2"
ImageFiltering = "0.6"
ImageTransformations = "0.8"
PrettyTables = "0.7, 0.8, 0.9"
julia = "1.3"

[extras]
FileIO = "5789e2e9-d7fb-5bc7-8068-2c6fae9b9549"
ImageIO = "82e4d734-157c-48bb-816b-45c225c6df19"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["FileIO", "ImageIO", "Test"]
